<!-- 
<h2>Reset Your Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
</form> -->

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <!-- Custom styles for this template -->
 
  </head>

  <body class="text-center">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Password Reset Sent</h1>
      <p>We've emailed you instructions for resetting your password. If you don't receive an email, check your spam folder.</p>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </body>
</html>
